name: Auto Docker Build on EC2

on:
  push:
    branches:
      - main   # you can change this to your main branch name

jobs:
  job1_pull_and_delete:
    name: Pull latest code and delete old Dockerfile
    runs-on: self-hosted   # This means it will run on your EC2 runner
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Delete old Dockerfile
        run: |
          if [ -f Dockerfile ]; then
            rm Dockerfile
            echo "Old Dockerfile deleted."
          else
            echo "No existing Dockerfile found."
          fi

  job2_create_dockerfile:
    name: Create new Dockerfile
    runs-on: self-hosted
    needs: job1_pull_and_delete
    steps:
      - name: Create a new Dockerfile
        run: |
          cat <<EOF > Dockerfile
          FROM nginx:alpine
          COPY index.html /usr/share/nginx/html
          COPY app.js /usr/share/nginx/html
          RUN rm /etc/nginx/conf.d/default.conf
          COPY nginx.conf /etc/nginx/conf.d/
          EXPOSE 80
          CMD ["nginx","-g","daemon off;"]
          EOF
          echo "New Dockerfile created successfully."

  job3_build_docker_image:
    name: Build Docker image
    runs-on: self-hosted
    needs: job2_create_dockerfile
    steps:
      - name: Build Docker image
        run: |
          docker build -t nginx-custom:latest .
          echo "Docker image built successfully."
